#restenbody{
color: #313131;
background-color: black;
font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-left: 20px;
margin-top: 20px;
overflow-y: scroll;
overflow-x: hidden;
}
#seierbody{
color: #313131;
background-color: rgba(2,2,42,1);
font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-left: 20px;
margin-top: 20px;
overflow: hidden;
}
h3{
color: white;
margin-top: 20px;
margin-left: 20px;
}
.dropbtn {
  background-color: #81160e;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #6d0b0d;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(40,7,8,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #9f6466;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: rgba(77,19,9,1)
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.btn{
margin-top: 40px;
margin-bottom: 40px;
}
.can{
width: 200px;
height: 100px;

}
#hund{
float: right;
  width: 33.33%;
}
#hund2{
float: right;
width: 33%;
}
#hund3{
float: right;
font-size: 20px;
width: 33%;
}
#hund4{
float: right;
font-size: 25px;
width: 50%;
}
#hund5{
margin-left: 400px;
margin-top: 40px;
font-size: 10px;
}
#hund6{
font-size: 15px;
margin-left: 300px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  width: 100%;
}
.ting {
margin: 10px;
   height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
}
.ting1 {
margin: 10px;
   height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
}


.ting1:hover{
background-color: rgba(16,16,16,1);
margin: 10px;
   height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
}
.ting2:hover{
background-color: rgba(156,25,255,1);
margin: 10px;
   height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
}
.ting3:hover{
background-color: green;
margin: 10px;
   height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
}
.ting4:hover{
background-color: red;
margin: 10px;
   height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
}
.ting5:hover{
background-color: rgba(255,111,15,1);
margin: 10px;
   height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
}
.ting6:hover{
background-color: blue;
margin: 10px;
   height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
}
.ting7:hover{
background-color: rgba(255,127,177,1);
margin: 10px;
   height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
}
.ting8:hover{
background-color: yellow;
margin: 10px;
   height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
}
.stole {
position: relative;
width: 50rem;
margin-left: 25rem;
}
.stole .katt{
position: relative; 
   width: 60%;
}

.stole .tekst{
position: absolute; 
   top: 15rem; 
   width: 50%;
   visibility: hidden;
}

.katt:hover{
opacity: 0.4;

}
.katt:hover + .tekst{
visibility: visible; 
opacity: 0.3;
color: rgba(255,255,255,1);
}
.oppskriftTekst{
color: rgba(194,194,194,1);
margin-left: 5rem;
font-weight: bold;
font-size: 1.2rem;
}
h2{
color: rgba(194,194,194,1);
margin-left: 6rem;
padding: 2rem;
}
#skjultDiv{
color: rgba(155,155,155,1);
}
.roodBokstav:hover{
color: red;
}
.lillaBokstav:hover{
color: rgba(156,25,255,1);
}
.groenBokstav:hover{
color: green;
}
.gulBokstav:hover{
color: yellow;
}
.blaaBokstav{
color: blue;
}
.oransjeBokstav:hover{
color: rgba(255,111,15,1);
}
.rosaBokstav:hover{
color: rgba(255,127,177,1);
}
.kodeskive{
position: relative;
}
.kodeskive canvas{
position: absolute;
}
.container {
  text-align: center;
  position: absolute;
}

div.circTxt {
  display: inline-block;
  margin-bottom: 128px;
  color: green;
}
.sirkelen{
width: 3rem;
height: 3rem;
position: relative;
 top: 325px;
 left: 225px;
border-radius: 50%;
animation: mymove 15s infinite linear;

}
@keyframes mymove{
     0%{
     
    transform:rotate(0deg)
              translate(100px)
              rotate(0deg);
  background: red;
  }
  25%{
  background: blue;
  }
  50%{
  background: green;
  }
  75%{
  background: yellow;
  }
  100%{
  
    transform:rotate(360deg)
              translate(100px)
              rotate(-360deg);
              background:red;
  }
}
h1{
color: rgba(216,216,216,1);
font-size: 2rem;
font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
margin-top: 130px;
}

.sky{
background: white;
height: 50px;
width: 50px;
border-radius: 50%;
animation: flySky 15s infinite linear;
}

@keyframes flySky{
0%{
transform: translate(-100px);
}
100%{
transform: translate(1500px);
}
}

.sky1{
background: white;
height: 80px;
width: 100px;
border-radius: 50%;
animation: flySky1 15s infinite linear;
}

@keyframes flySky1{
0%{
transform: translate(-180px, -70px);
}
100%{
transform: translate(1420px, -70px);
}
}
.sky2{
background: white;
height: 50px;
width: 50px;
border-radius: 50%;
animation: flySky2 15s infinite linear;
}

@keyframes flySky2{
0%{
transform: translate(-200px, -120px);
}
100%{
transform: translate(1400px, -120px);
}
}
.andresky{
background: white;
height: 100px;
width: 150px;
border-radius: 50%;
animation: flySky3 20s infinite linear;
animation-delay: 5s;
}

@keyframes flySky3{
0%{
transform: translate(1400px, -700px);
}
100%{
transform: translate(-200px, -700px);
}
}
.andresky1{
background: white;
height: 65px;
width: 65px;
border-radius: 50%;
animation: flySky4 20s infinite linear;
animation-delay: 5s;
}

@keyframes flySky4{
0%{
transform: translate(1520px, -770px);
}
100%{
transform: translate(-80px, -770px);
}
}
.andresky2{
background: white;
height: 65px;
width: 65px;
border-radius: 50%;
animation: flySky5 20s infinite linear;
animation-delay: 5s;
}

@keyframes flySky5{
0%{
transform: translate(1370px, -840px);
}
100%{
transform: translate(-230px, -840px);
}
}
.skjultTekst{
color: rgba(15,15,15,1);
transform: translate(900px, 300px);
}
.demo{
color: #313131;
}
.oppBtn{
margin-top: 2rem;
margin-bottom: 3rem;
color: rgba(74,28,18,1);
background-color: rgba(189,123,35,1);
cursor: url('kjeks2.png')22 25, auto;
border: none;
font-size: 15px;
height: 40px;
width: 100px;
z-index: 1;
}