html{
height:100%;
overflow-y: scroll;
overflow-x: hidden;
}
body {
   width:100%;
   height:100%;
   
    color: #323232;
    font-size: 20px;
    
   margin-top: 60px;
   margin-left: 40px;
}
.spill {
   content : "";
    display: block;
    position: fixed;                    
    top: 0;
    left: 0;
    background-size: cover;
    background-image: linear-gradient(
      rgba(255,255,255,0.6),
      rgba(255,255,255,0.6)
    ),url("bakgrunn1.jpg");
    width: 100%;
    height: 100%;
    
    z-index: -1;
    background-repeat: no-repeat;
   
}
.lottoknapp{
margin-left: 300px;
margin-top: 30px;
margin-bottom: 60px;
}
.button{
background-color: rgba(56,56,56,1);
border: none;
color: #c6c6c6;
border-radius: 8px;
font-size: 15px;
padding: 12px 28px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
font: Arial, Helvetica, sans-serif;
}
.buttons{
background-color: rgba(51,15,56,1);
border: none;
color: #c6c6c6;
border-radius: 8px;
font-size: 20px;
padding: 17px 28px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
font: Arial, Helvetica, sans-serif;
}

.tigging {
  position: relative;
  width: 200px;
}


.tigging img {
  width: 300px;
  height: auto;
}


.tigging .btn {
  position: absolute;
  top: 48.5%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: Transparent;
  color: Transparent;
  font-size: 69px;
  padding: 4.9px 42px;
  border: none;
  cursor: pointer;
  
}

.tigging .btn:hover {
  background-color: rgba(20,20,20,0.5);
}
.bestikkelse{
padding: 20px;
margin-bottom: 10px;
}
table{
width: 50%;
text-align: right;
border: 1px black;
}
.btn1 {
  border-radius: 4px;
  background-color: #f4c91a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn1 span:after {
  content: ' \0024';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn1:hover span {
  padding-right: 25px;
}

.btn1:hover span:after {
  opacity: 1;
  right: 0;
}
.nyttliv{
margin-left: 40%;
margin-bottom: 60px;
}